In [1]:
import numpy as np
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples
from sklearn.cluster import DBSCAN

In [32]:
data = pd.read_csv('movieReplicationSet-2.csv')
only = data.iloc[:,475:476]
social = data.iloc[:,476:]
frames = [only, social]
combined = pd.concat(frames,axis=1)
combined = combined[~np.isnan(combined).any(axis=1)]
combined.shape

(1097, 2)

In [33]:
combined = combined[combined['Are you an only child? (1: Yes; 0: No; -1: Did not respond)'] != -1]
combined = combined[combined['Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)'] != -1]
combined

,Are you an only child? (1: Yes; 0: No; -1: Did not respond),Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)
0,0,1
1,0,0
2,1,0
3,0,1
4,1,1
...,...,...
1092,0,0
1093,0,0
1094,0,0
1095,0,1
1096,0,1

In [40]:
from sklearn.metrics import matthews_corrcoef
matthews_corrcoef(only, social) # used for binary variables

0.09951219538754211